~$AV-184 - Get a Morning Briefing from your Smart Home.docx
.gitignore
Thumb_1.158.1.png
Thumb_1.158.1.drx
*.mp4
*.mov
.DS_Store
HMAV-184 - Get a Morning Briefing from your Smart Home.docx
Render/*.*
*.drp
*.afphoto
*.docx

